@import "../../index.scss";

.logo{
    font-weight: bold;
    font-size: 15px;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    z-index: 2;
    background-color: $MenuBackground; 
}

.menuDesktop{
    display: flex;
    margin-left: 1rem;

    :not(:first-child){
        margin-left: 6rem;
    }
}