@import "../../index.scss";

.logo{
    font-weight: bold;
    font-size: 15px;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    z-index: 2;
    background-color: $MenuBackground; 
}

.menuDesktop{
    display: flex;
    margin-left: 1rem;

    :not(:first-child){
        margin-left: 6rem;
    }
}

.logoDesktop{
    margin-right: 12rem;
}

.textMenuDesktop{
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.imageEmptyCar{
    width: 150px;
    height: 150px;
    align-self: center;
}

.contentEmptyCar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

.itemCart{
    display: flex;
    gap: 20px

}

.imageItemCart{
    width: 50%;
    height: 100px;
}

.contentTextItemCart{
    width: 50%
}