@import '../../index.scss';

.advertisement {
  background-color: $Optional;
  padding: 2rem 0;

  
  .textContainer {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    
    .text {
      font-size: 1.5rem;
      text-align: center;
      color: $Text;
      font-weight: bold;
      opacity: 1;
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
  }

  .fade {
    opacity: 0;
    transform: translateY(20px);
  }
}

.advertisementDesktop {
  display: flex;
  justify-content: space-between;
  align-items: center; 

  .iconsContainer{
    margin-left: 2rem;

    a{
      margin-right: 2rem;
    
    }
  }

  
  .textContainer {
    display: flex;
    justify-content: center; 
  }
}

.iconsColor{
  color: $Text;
}
