//Fonts
$fontFamilyPrimary: "Poppins", sans-serif;
$fontFamilySecondary: "Montserrat", sans-serif;

//Colors
$BackgroundColor: #A9B388;
$Titles: #7D3586;
$Text: #F5E6D8;
$Optional: #C87620;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: $fontFamilyPrimary;
}

// Responsive Images
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}